<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
  <h1>Login</h1>
  <form method="post" action="/reg">
    <label for="stdname1">Student name 1:</label>
    <input type="text" id="stdname1" name="stdname1" required>
    <br>
    <label for="stdname2">Student name 2:</label>
    <input type="text" id="stdname2" name="stdname2" required>
    <br>
    <input type="submit" value="Login">
  </form>
</body>
</html>